<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/finalizacao.css">
        <link
        rel="shortcut icon"
        href="/images/xcoder-black-background.ico"
        type="image/x-icon"
       />
        <title>XCoder</title> 
    </head>
<body> 

    <% if(!user) {%>
        <%- include('./partials/header', {user: undefined}); %>
    <% } else { %>
        <%- include('./partials/header', {user: user}); %>
    <% } %>

    <main>
        <div class="div-img-produto">

            <img src="/images/headset-gamer.jpg" alt="" class="produto-finalizacao">

            <div class="div-nome-produto">
                <p class="nome-produto">Headset brabo luzinha gamer bolado matador de noob</p>
                <p class="vendido-por">Vendido por Xcoder e entregue Sedex</p>
            </div>
            <div class="status-prod">
                <h1>Status: aprovado</h1>
                <div class="div-p">
                    <p class="p-headset">Headset brabo</p>
                    <div class="div-preco">
                        <p class="p-preco-head">R$10.000</p>
                        <p class="p-preco-desc-head">R$9.998</p>
                    </div>
                    <p class="p-parcelas">Em 1x no cartão</p>
                    <p class="p-previsao-entrega">Previsão de entrega:</p>
                    <p class="p-data-entrega">Segunda feira, dia 24 de Abril de 2022</p>
                    <p class="p-visu-produto"><a href="./produtointerno">Visualizar produto no painel do usuário</a></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>