<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    
<body>

    <%- include('./partials/header'); %>
    
    <section class="container-destaque-semanal">
        <h1 class="destaque-semanal">Destaque da semana</h1>
    </section>
    <section class="main-content-dtq">
         
        <div class="container-img-destaque-semanal">
            <div class="div-img-destaque-semanal">
                <a href="./produtointerno"><img  class="img-destaque-semanal" src="/images/cadeira-gamer-gt-black-lp01.webp" alt=""></a>
            </div>
            
            <div class="mouse-tecl-head">
                <a href="./produtointerno"><img  class="img-mouse" src="/images/mouse-gamer.webp" alt=""></a>
                <a href="./produtointerno"><img  class="img-teclado" src="/images/teclado-gamer.webp" alt=""></a>
                <a href="./produtointerno"><img  class="img-headset" src="/images/headset-gamer.jpg" alt=""></a>
            </div>
        </div>       
    </section>
    <div class="container-seta-destaque">
        <div class="seta-destaque1">
            <button type="button"><img class="seta" src="/images/arrow-left-circle.svg" alt=""></button>
        </div>
        <div class="seta-destaque2">
            <button type="button"><img class="seta" src="/images/arrow-right-circle.svg" alt=""></button>
        </div>
    </div>
        

    <section>
        <h1 class="lista-de-promocao">Lista de promoção</h1>
    </section>
    <section class="container-lista-de-promocao">
        <div>
            <button type="button"><img class="seta" src="/images/arrow-left-circle.svg" alt=""></button>
        </div>
        
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse1" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
            
        </div>
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse2" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
        </div>
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse3" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
        </div>
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse4" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
        </div>
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse5" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
        </div>
        <div class="div-lista-de-promocao">
            <a href="./produtointerno"><img  class="img-mouse6" src="/images/mouse-gamer.webp" alt=""><p>Mouse gamer brabo</p></a>
            <div class="div-price">
                <a href="" class="price">R$150</a>
            </div>
        </div>
        <div>
            <button type="button"><img class="seta" src="/images/arrow-right-circle.svg" alt=""></button>
        </div>

    </section>
    <section>
        <h1>Turbine sua gameplay com</h1>
        <div class="container-turbine-sua-gplay">

            <div>
                <button type="button"><img class="seta" src="/images/arrow-left-circle.svg" alt=""></button>
            </div>
            
            <div>
                <a href="./produtointerno"><img src="/images/redragon.webp" alt=""></a>
            </div>
            <div>
                <a href="./produtointerno"><img src="/images/redragon.webp" alt=""></a>
            </div>  
            <div>
                <a href="./produtointerno"><img src="/images/redragon.webp" alt=""></a>
            </div>
            <div>
                <a href="./produtointerno"><img src="/images/redragon.webp" alt=""></a>
            </div>
            <div>
                <a href="./produtointerno"><img src="/images/redragon.webp" alt=""></a>
            </div>

            <div>
                <button type="button"><img class="seta" src="/images/arrow-right-circle.svg" alt=""></button>
            </div>

        </div>  

        
        
    </section>

    <%- include('./partials/footer') %>
    
</body>
</html>