<div class="divider"></div>
    <footer>
        <a href="">Trabalhe conosco</a>
        <a href="">Reportar bug</a>
        <a href="">Contato</a>
        <a href="">Termos e condições</a>
    </footer>