<header class="header">   

    <div class="container">

        <a href="./" class="logo"><img src="/images/logo-xcoder.png" alt="logo"></a>

        <form class="search" action="" method="get">
            <input type="search" name="search" id="search" placeholder="Pesquisar">
        </form>

        <div class="container2">
            <a href="./listadedesejos" class="listadedesejos">Lista de Desejos</a>
            <div>
                <a class="carrinho" href="./carrinho"><img src="/images/cart.svg" alt="carrinhoDeCompras"></a>
                <div class="preco-carrinho"><p>$150</p></div>
            </div>
            <a href="./login" class="login">Log in </a>
            <a href="./register" class="register"> Sign up</a>
        </div>  

    </div>
                 
    <nav class="navbar">
        <a id="colecionaveis" href="./listagemDeProduto">Colecionáveis</a>
        <a id="informatica" href="./listagemDeProduto">Informática</a>
        <a id="jogos" href="./listagemDeProduto">Jogos</a>
        <a id="lancamentos" href="./listagemDeProduto">Lançamentos</a>
        <a id="modas" href="./listagemDeProduto">Modas</a>
        <a id="promoçoes" href="./listagemDeProduto">Promoções</a>
    </nav>

</header>